@import "../bourbon/bourbon";

body {
  font-family: sans-serif;
}

h1 {
  font-size: 1.625em;
  text-align: center;
}

h2 {
  font-size: 1.25em;
}

section {
  padding: 1em 0 2em 0;
  border-bottom: 1px solid #CCCCCC;
}

.bordered {
  border: 1px solid black;
}