@font-face {
  font-family: 'Arboria';
  src: url("/assets/fonts/Arboria-Bold.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Arboria-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Arboria-Bold.woff") format("woff"), url("/assets/fonts/Arboria-Bold.ttf") format("truetype"), url("/assets/fonts/Arboria-Bold.svg#4bf794b351920bda00bb43eddeed9f41") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Arboria';
  src: url("/assets/fonts/Arboria-Book.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Arboria-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Arboria-Book.woff") format("woff"), url("/assets/fonts/Arboria-Book.ttf") format("truetype"), url("/assets/fonts/Arboria-Book.svg#2872b95fc65486968fd8f91b9ba5efbc") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Arboria';
  src: url("/assets/fonts/Arboria-Light.eot");
  /* IE9 Compat Modes */
  src: url("/assets/fonts/Arboria-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Arboria-Light.woff") format("woff"), url("/assets/fonts/Arboria-Light.ttf") format("truetype"), url("/assets/fonts/Arboria-Light.svg#1a87d090c228a568d19bb813fce7b55f") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

html, body {
  height: 100%; }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 10px solid white;
  background: #d1d1d1;
  font-family: 'Arboria', sans-serif;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

section.heading {
  display: block;
  width: 100%;
  text-align: center; }

h1 {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 3em;
  font-weight: 200; }
  @media only screen and (min-width: 640px) {
    h1 {
      font-size: 5em; } }

h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal; }
  @media only screen and (min-width: 640px) {
    h3 {
      font-size: 2em; } }

.logo {
  width: 200px;
  height: auto;
  display: inline-block; }
